body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  
  nav.navbar {
    position: fixed;
    width: 100%;
 background-color: rgb(31, 31, 114);
    padding: 10px 30px;
    transition: background-color = 0.5s;
  }
  
  nav.navbar.scrolled {
    background-color: rgb(216, 27, 27); 
  }
  
  .nav-menu {
  list-style: circle;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-link {
    text-decoration:solid;
    color: white;
    font-size: 23px;
    font-style:italic;
    padding:4px 10px;
    transition: color 0.5s, background-color 0.5s;
  }
  
  .nav-link:hover {
    color: #0d4629;
    background-color: white;
    border-radius: 5px;
  }
  section{
    padding: 80px 09px;
    margin-top: 50px;

  }
  
  #home { background-color: #a4b9f1; }
  #play { background-color: #ce4a64; }
  #Guide { background-color: #84e8c8; }
  #Purchases { background-color: rgba(86, 134, 156, 0.701); }
  #Support { background-color: grey;}